<div class="container">
  <div class="row">
    <div class="col-4 collection-div">
  		  <% if @user == current_user %>
  				<%= link_to "Add Collection", new_user_collection_path, class: "add-collection" %>
  			<% end %>
        <% if !@collections.empty? %>
    			<% @collections.each do |collection| %>
    				<div class="collections-list">
    					<%= link_to "#{collection.name}", user_collection_path(id: collection.id), remote: true %>
    				</div>
    			<% end %> 
  		  <% end %>   	
    </div>
    <div class="col-8 collections-partial"> </div>
  </div>
</div>