<h1>User Show page</h1>


<h3>resources I have created</h3>
<% @resources.each do |resource|%>
	<div class="list-of-resources">
		<li><%= link_to resource.title, resource_path(resource) %></li>
		<li><%= resource.description %></li>	
	</div>
<% end  %>


<h3>resources I have favorited</h3>
<% current_user.favorited_resources.each do |resource|%>
	<div class="list-of-resources">
		<li><%= link_to resource.title, resource_path(resource) %></li>
		<li><%= resource.description %></li>	
	</div>
<% end  %>
