<h1>control panel index</h1>

<h6><%= link_to "Add Category", new_category_path %></h6>

<h6><%= link_to "Display Users", users_path %></h6>


<h6>Most Liked Resources</h6>


<h6>Highest Reviews Resources</h6>


<h6>Lowest Reviews Resources</h6>
