// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-intro{
	margin: 0 auto;
	width: 100%;
	position: absolute;
	font-size: 25px;
	color: #0066cc;
	font-weight: 800px;
}

#category-list li{
	list-style: none;
	font-size: 25px;
}

#category-list{
	margin-left: 10%;
}

#category-list a{
	color: #6fa02e;
}

#category-list a:hover{
	color: #25532c;
	text-decoration: none;
}

// #heading{
// 	border: 0.1px solid #8dbffc;
// 	box-shadow: 0px 10px 10px #8dbffc;
// 	text-align: center;
// 	margin-bottom: 5%;
// }

.category-show-heading{
	text-align: center;
	margin-top: 2%;
}

#cat-index-info{
	padding: 20px;
	margin-left: 20px;
}

.cat-info-text{
	color: #25532c;
}

.info-list{
	color: #787777;
}

a.organeyez-links:link{
	color: #787777;
	text-decoration: none;
}

a.organeyez-links:hover{
	color: #6fa02e;
	text-decoration: none;
}
