body{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link{
	color: black;
	font-size: 20px;
}

.logo{
	font-size: 50px;
	color: black;
}

.btn-outline{
	border: 2px solid #0066cc;
}

.navbar{
	border: 20px solid #8dbffc;
	background-color: white;
	box-shadow: 0px 10px 10px #888888;
}

.notices, #error_explanation{
	margin-top: 2%;
	margin-left: 2%;
	color: red;
	font-size: 25px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: white;
	border-color: #8dbffc;
}