.list-of-resources{
	border: .1px solid black;
	box-shadow: 0px 10px 10px #888888;
	margin: 5%;
	padding: 1%;	
}

.list-of-resources li{
	list-style: none
}

.favorites-list{
	border: .2px solid #b300b3;
	box-shadow: 0px 10px 10px #888888;
	margin: 5%;
	padding: 1%;	
}

.favorites-list li{
	list-style: none
}

.collections-list{
	border: .2px solid black;
	box-shadow: 0px 10px 10px #888888;
	margin: 5%;
	padding: 1%;
	font-size: 25px;
	width: 100%;
}

.add-collection{
	font-size: 25px;
	float: center;
}

.collection-div{
	width: 50%;
}

.collection-heading{
	text-align: center;
	margin-bottom: 2%;
}

.col-4, .col-8{
	width: 50%;	
}

.collection-buttons{
	text-align: center;
}

.add-resource-to-collection-box{
	margin-top: 5%;
}

.btn-submit{
	margin-top: 2%;
	margin-bottom: 10%;
	font-size: 15px;
	padding: 2% 2%;
	border: 2px solid #0066cc;
}

.blue{
	color: #0066cc;
}





