<div class="container">
  <div class="row">

    <div class="col home-intro-col">
		<div id="home-intro">
			<div id="heading">
	    		<!-- <h1>Your Activist Resource Directory</h1>	 -->
          <img src="yardheaderlogo1.png" alt="header-logo">
	    </div>
      <div id="cat-index-info">
  			<p class="cat-info-text">An online platform for activists, community organizers, and organizations to share resources and create personal libraries.</p>
  			<p class="cat-info-text">Users regulate the content through reviews.</p>
  			<p class="cat-info-text">All resources are available to the public.</p>
  			<p class="cat-info-text">Upon creating an account you will be able to:</p>
  			<ol>
  				<li class="info-list">Create a resource</li>
  				<li class="info-list">Favorite a resource</li>
  				<li class="info-list">Organize your favorite resources into collections that you can access at any time</li>
  			</ol>
  			<p class="cat-info-text">For more information visit
          <span style="color: #787777">organeyez.co</span> or email
          <span style="color: #787777">yard@organeyez.co</span>
        </p>
      </div>
		</div>
    </div>

    <div class="col">
		<div id="category-list">
      <% if @categories %>
  			<% @categories.each do |category|%>
  				<li class="category-li"><%= link_to "#{category.title}", category_path(category) %></li>
        <% end%>
			<% end%>
		</div>
    </div>

  </div>
</div>
